.footer-content{
    background-color: #f9f9f9;
    text-align: center;
    padding: 69px 50px 73px 50px;
    color: #8f8f8f;
    h2{
        font-size: 1.812rem;
        color: black;
    }
    button{
        height:10.33%;
        width: 38,5%;
        background-color: #e02d74;
        font-size: 1rem;
        color: white;
    }
}
.footer{
    .footer-text{
        font-size: 0.812rem;
        float: left;
        margin-top: 5%;
        margin-bottom: 3.66%;
        margin-right: 31%;
    }
    li{
        float: left;
        margin-top: 5%;
        margin-bottom: 3.66%;
    }
    li+li{
        margin-left: 1.66%;
    }
    img{
        max-width: 100%;
        width: 100%;
    }
}